In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import random

In [13]:
# 1 year of data
df = pd.read_csv('IC-singlet-Dec15old-Jan16new-shuffled.csv')

In [14]:
df.head(5)

     ICDec      ICRA  ICsigmaR               ICtime  ICmsec
0  52.5356   68.9134  3.250450  2016-01-08 09:41:38  254809
1  34.7128  167.9790  0.505990  2016-01-12 18:18:12  718759
2  58.2016  308.8210  7.984470  2016-01-05 09:53:38  966684
3  29.7359   62.8768  1.442960  2016-01-15 11:07:53  352287
4  36.4621  276.2750  0.622407  2016-01-24 20:09:17  968384

In [15]:
# scramble IceCube data
for i in range(1):
    df2 = df.reindex(np.random.permutation(df.index))
    df2.reset_index(drop=True, inplace=True)
    df2[['ICDec','ICsigmaR']] = df[['ICDec','ICsigmaR']]
    df2.columns=['ICDec','ICRA','ICsigmaR','ICtime','ICmsec']
    df2.to_csv("IC-Jan16-energy-scrambled{}.csv".format(i),index=False,encoding='utf-8')

In [16]:
df2.head(5)

     ICDec      ICRA  ICsigmaR               ICtime  ICmsec
0  52.5356  176.8270  3.250450  2016-01-11 10:57:23  375423
1  34.7128  162.5480  0.505990  2016-01-19 23:05:06   91141
2  58.2016   22.6995  7.984470  2016-01-07 06:07:57  718874
3  29.7359  162.4150  1.442960  2016-01-14 04:06:56  258034
4  36.4621  264.1050  0.622407  2016-01-29 07:37:02  758520

In [17]:
#file with no energy
for i in range(500):
    df2 = df.reindex(np.random.permutation(df.index))
    df2.reset_index(drop=True, inplace=True)
    df2[['ICDec','ICsigmaR']] = df[['ICDec','ICsigmaR']]
    df2.columns=['ICDec','ICRA','ICsigmaR','ICtime','ICmsec']
    df2.to_csv("IC_scrambled/{}.csv".format(i),
          index=False,encoding='utf-8')